/* GOLBALS */
a {
  color: inherit; 
  text-decoration: inherit; 
}

a:hover 
{
     color: inherit; 
     text-decoration: none; 
     cursor: pointer;  
}

body
{
	background: rgba(22,22,36,1) url("img/backgroundgif.gif");
}

h4
{
	font-weight: bold;
	font-family: 'Staatliches', cursive;
	color: #e93535;
	padding-top: 30px;
}

h3
{
	padding: 5px;
}

/* IDs */

#emailme
{
	color: lightgreen;
	text-decoration: underline;
}

/*99*/
#emaillink
{
	-webkit-animation-name: swingmail; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  	-webkit-animation-iteration-count: infinite;
  	animation-name: swingmail;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes swingmail {
	from{transform: rotate(0deg);}
	to{transform: rotate(359deg);}
}

/* Standard syntax */
@keyframes swingmail {
	from{transform: rotate(0deg);}
	to{transform: rotate(359deg);}
}

#callme
{
	color: blue;
	text-decoration: underline;
}

#phonelink
{
	-webkit-animation-name: swingphone; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  	-webkit-animation-iteration-count: infinite;
  	animation-name: swingphone;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes swingphone {
	from{transform: rotate(-359deg);}
	to{transform: rotate(0deg);}
}

/* Standard syntax */
@keyframes swingphone {
	from{transform: rotate(-359deg);}
	to{transform: rotate(0deg);}
}

#phonelink
{
	margin-right: 20px;
}

#emaillink
{
	margin-right: 10px;
}

#downPDF:hover
{
	box-sizing: border-box;
	padding-bottom: 25px
}

#thetop
{
	padding: 30px;
	background-image: url("img/backgroundhead2.png");
	height: 200px;
}

/* CLASSES */

.intro
{
	color: #e93535;
}

.fader
{
	height: 20px;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,9,16,1) 50%, rgba(22,22,36,1) 100%);
}

.row
{
	padding: 20px;
}

.col-md-2
{
	min-height: 40px;
}

.wstep, .omnie, .kontakt, .cv
{
	background-color: #e93535;
	border-radius: 50px;
	transition: 0.5s;
}

.wstep:hover, .omnie:hover, .kontakt:hover, .cv:hover
{
	color:white;
	border-radius: 0px;
	transition: 0.5s;
	transition-timing-function: linear;
}

.GoTop
{
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 25px;
	margin-right: 25px;

	-webkit-animation-name: jumping; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  	animation-name: jumping;
  	animation-duration: 1s;	
  	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes jumping {
  0% {margin-bottom: 25px;}
  50% {margin-bottom: 50px;}
  100% {margin-bottom: 25px;}
}

/* Standard syntax */
@keyframes jumping {
  0% {margin-bottom: 25px;}
  50% {margin-bottom: 50px;}
  100% {margin-bottom: 25px;}
}

.parag
{
    font-size: 1.2rem;
    font-family: 'Alegreya SC', serif;
}

.Page1Wstep, .Page1omnie, .Page1kontakt, .Page1cv
{
	text-align: center;
	background-color: rgba(255,255,255,0.2);
}

.Page1kontak .zadzwon, .Page1kontakt .email
{
	padding: 20px 20px 25px 25px;
}

.Page1Wstep .parag, .Page1omnie .parag, .Page1kontakt .parag, .Page1cv .parag
{
	padding: 15px 15px 25px 25px;
	text-align: left;
	color: white;
}

.Page1end
{
	background-color: rgba(0,0,0,.7);
	height: 35px;
}

.Page1end .parag
{
	font-size: 12px;
	font-weight: bold;
	font-family: inherit;
	text-align: center;
}
